# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

dist

# Logs
logs
*.log

#.vscode
.vscode/launch.json

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# personal dev
consolidated*.md
notes.md
TODO
prompts.txt